@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border: 1px solid silver;
}
.logo {
  width: 120px;
}
nav ul {
  display: flex;
  gap: 25px;
  list-style-type: none;
}
.body .search {
  width: 100%;
  padding: 25px 10px;
  display: flex;
  gap: 25px;
  align-items: center;
}
.body form input {
  width: 350px;
  padding: 5px;
  height: 30px;
  outline: none;
}
.card {
  width: 100%;
  /* border: 1px solid black; */
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.card:hover {
  transform: scale(0.9);
}
.card img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 15px;
}

.res-container {
  padding: 2% 1% 3%;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  justify-content: space-between;
  gap: 19px;
}

.img-container {
  position: relative;
  height: 250px;
  overflow: hidden;
}
.discount {
  color: #fff;
  bottom: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  font-size: 1.2rem;
  font-weight: 900;
  margin: 5px;
}
.card .backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.infoContainer {
  width: 100%;
  padding: 2%;
}
.rating-time {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  gap: 3px;
}
.rating-time .rating {
  display: flex;
  align-items: center;
  gap: 3px;
}
.homeShimmerContainer {
  width: 100%;
  padding: 2% 1% 3%;
  display: grid;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  justify-content: space-between;
  gap: 19px;
}
.homeShimmerContainer .card {
  width: 100%;
  height: 266px;
  background: #e5e5e5;
}
.login_btn {
  padding: 3px 10px;
  background: skyblue;
  font-weight: 800;
  border: none;
  cursor: pointer;
}

.resDetails-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 3% 1%;
}

.resDetails-container .card1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid silver;
  padding: 30px 10px;
}

.resDetails-container .rating {
  text-align: center;
}

.resDetails-container .rating hr {
  margin: 7px 0px;
}

.items-container {
  width: 100%;
  margin-top: 50px;
}

/* toggle container */
.toggle-container {
  width: 100%;
  /* padding: 15px 10px; */
}
.toggle-container .title {
  padding: 10px;
  font-size: 26px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
.toggle-container .title .arrowicon {
  font-size: 15px;
}
.toggle-container .items {
  width: 100%;
  padding: 10px;
}

/* toggle items */
.toggle-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
  border-bottom: 1px solid silver;
  padding: 20px 0px;
  overflow: hidden;
}
.toggle-item .info {
  font-size: 17px;
}

.toggle-item .price {
  font-weight: 800;
  margin: 10px 0px;
}
.toggle-item .description {
  color: grey;
  font-size: 13px;
}
.toggle-item .img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toggle-item img {
  width: 150px;
  height: 100px;
  object-fit: cover;
}
.toggle-item button {
  left: 40px;
  bottom: 0;
  margin-top: 10px;
}
.category-container .title {
  font-weight: 500;
  font-size: 15px;
  border-bottom: 1px dashed #000;
}

.userCard {
  width: 33%;
  padding: 2%;
  border: 1px solid #000;
}
